@use '../../../typography/colors';
@use '../../../typography/spaces';

$product-gap: 16px;

.product-card {
  display: flex;
  flex-direction: column;
  padding: $product-gap;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  border-radius: 8px;
  background: white;
  text-align: center;

  img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 8px;
  }

  .product-content {
    padding: 8px 0;
  }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
