@if (shoppingService.productsLoading()) {
  <div class="spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
}

<section class="product-container">
  <ul class="products">
    @for (product of products(); track product) {
      <li class="product-card">
        <img [src]="product.img" alt="{{ product.name }}" (error)="onImageError($event)" />
        <article class="product-content">
          <h2>{{ product.name }}</h2>
          <p>{{ product.availableAmount }} available</p>
          <p>Minimum order amount: {{ product.minOrderAmount }}</p>
          <p>
            <strong>€{{ product.price.toFixed(2) }}</strong>
          </p>
        </article>
        <footer class="product-actions">
          <button
            mat-raised-button
            color="primary"
            (click)="shoppingService.addToCart(product, product.minOrderAmount)">
            Add to Cart
          </button>
        </footer>
      </li>
    }
  </ul>
</section>
