@if (cartItems().length === 0) {
  <h1>Your cart is empty</h1>
} @else {
  <mat-card data-testid="mat-card">
    <mat-card-header>
      <mat-card-title>Your Cart:</mat-card-title>
    </mat-card-header>

    <mat-card-content class="cart-list">
      @for (cartItem of cartItems(); track cartItem) {
        <mat-card class="cart-item-card">
          <div class="cart-item-details">
            <h3>{{ cartItem.name }}</h3>
            <p>Amount: {{ cartItem.amount }}</p>
            <p>Total: ${{ cartItem.price * cartItem.amount }}</p>
          </div>
        </mat-card>
      }

      <mat-divider></mat-divider>

      <p><strong>Total Price of the cart:</strong> €{{ totalPrice() }}</p>
    </mat-card-content>
  </mat-card>
}
